body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  width: 100%;
  background-color: white;
  color: #dc3545;
  text-align: center;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc; /* Thin line below the header */
}

.header-content {
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 10px; /* Added spacing to the left of the logo */
}

.logo img {
  height: 50px;
}

/* The side navigation menu */
.sidenavi {
  text-align: center;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #f8f9fa;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenavi a {
  justify-content: center;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #333;
  display: block;
  transition: 0.3s;
}

.opennavi {
  font-size: 36px;
}

/* Position and style the close button (top right corner) */
.sidenavi .closenavi {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenavi-item {
  color: #333;
  padding: 12px;
}

.sidenavi-image {
  justify-content: center;
  border-radius: 100px;
}

.sidenavi-title {
  font-weight: bold;
  font-size: 20px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-right .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenavi {padding-top: 15px;}
  .sidenavi a {font-size: 18px;}
}

main {
  margin: 2rem auto;
  max-width: 800px;
  padding: 0 1rem;
  text-align: center; /* Center text content */
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Stack flex items vertically */
  align-items: center; /* Center flex items horizontally */
}

h1 {
  margin: 0;
  font-size: 2rem; /* Increased font size of the header */
}

main h2,
main p {
  text-align: center;
  margin: 0.5rem 0; /* Adjust margin to reduce the gap */
}

main h2 {
  margin-top: 40px; /* Add pixels of space above h2 */
  font-size: 45px;
}

main p {
  margin-bottom: 1.5rem; /* Adjust margin to reduce the gap */
}

#myForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Add spacing between language options and code generator */
}

#myForm label,
#myForm textarea,
#myForm button {
  display: inline-block;
  vertical-align: middle;
  margin: 0.5rem;
  align-items: center;
  flex-grow: 1;
  padding: 0.7rem 0rem; /* Set padding to make elements the same size */
  
  margin: 0 5px; /* Add margin to create space between elements */
  white-space: nowrap;
}

#myForm textarea {
  width: 40.5rem; 
}

#description {
  height: 1rem; 
  padding: 0.5rem; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  font-size: 1rem; 
  line-height: 1rem;
  resize: none; 
}

select {
  padding: 9px;
  resize: vertical;
  font-size: medium;
}

#generateButton {
  width: 5rem;
  padding: 1rem 1rem;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 1rem;
}

#generateButton:hover {
  background-color: #c82333;
  /* Add a subtle text shadow on hover for better contrast */
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.user-options {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
   
.user-options select,
.user-options button {
    padding: 0.75rem 1.5rem; /* Increase padding to make elements bigger */
    font-size: 1.2rem; /* Increase font size */
}
  
.user-options select {
    margin-right: 10px;
    padding: 0.5rem;
    margin-right: 70px;
}

.dark-theme header {
  background-color: #2a2a2a; /* Your dark theme color for header */
  color: #f8f9fa; /* Your dark theme text color for header */
}

.dark-theme body {
    background-color: #2a2a2a;
    color: #f8f9fa;
}

.dark-theme select {
  background-color: #2a2a2a;
  color: #f8f9fa;
}

.dark-theme #description,
.dark-theme #generated_code {
  background-color: #222222; /* Darker shade of black */
  color: white;
}

.dark-theme #documented_code {
  background-color: #222222; /* Darker shade of black */
  color: white;
}


.dark-theme #output {
    color: #000000; /* Set the font color for the dark theme */
}
  
main {
  margin: 2rem auto;
  max-width: 800px;
  padding: 0 1rem;
  text-align: center; /* Center content */
}

#description {
    width: 100%; 
    padding: 0.7rem; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 1rem; 
    margin-bottom: 20px; 
}

.output-box {
  font-family: monospace; 
  font-size: 1rem; 
  background-color: #f8f9fa;
  padding: 1rem;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  margin-top: 1rem; 
  width: 100%; 
  max-height: 300px;
  overflow-y: auto; /* Add scroll bar if content exceeds box height */
}

#generated_code {
    font-family: monospace; 
    font-size: 1.3rem; 
    background-color: #f8f9fa;
    padding: 11rem 0rem;
    border: 1px solid #ccc; 
    border-radius: 10px; 
    margin-top: 1rem; 
    width: 60rem; 
    max-height: 300px; 
}

#documented_code {
  font-family: monospace; 
  font-size: 1.3rem; 
  background-color: #f8f9fa;
  padding: 11rem 0rem;
  border: 1px solid #ccc; 
  border-radius: 10px; 
  margin-top: 1rem; 
  width: 60rem; 
  max-height: 300px; 
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #dc3545;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
  
@media (max-width: 600px) {
    main {
      margin: 1rem auto;
    }
}
